1.Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
2.Total working days for each agents 
3. Total query that you hvae taken 
4. total Feedback that you have received 
5. a agent name who have average rating between 3.5 to 4 
6. Agent name who have rating lesss then 3.5 
7. agent name who have rating more then 4.5 
8. how many feedaback agents have received more then 4.5 average
9. average weekly response time for each agent 
10. average weekely resolution time for each agents 
11. list of all agents name 
12. percentage of chat on which they have received a feedback 
13. Total contributation hour for each and every agents weekly basis 
14. total percentage of active hour for a month

sunny.savita@ineuron.ai ,sudhanshu@ineuron.ai

# Imports

In [1]:
import pandas as pd

# Config

In [2]:
agent_performance_report = r'AgentPerformance.xlsx'

In [3]:
agent_login_report = r'Agent_Login_Report.xls'

In [4]:
user_weekly_avg_rating_report = r'E:\ml-dataset\JUL\Week5\Tasks\AvgRatings.csv'

In [5]:
user_weekly_avg_response_report = r'E:\ml-dataset\JUL\Week5\Tasks\AvgResponse.csv'

In [6]:
user_weekly_avg_resolution_report = r'E:\ml-dataset\JUL\Week5\Tasks\AvgResolution.csv'

In [7]:
agent_weekly_contribution_in_hrs = r'E:\ml-dataset\JUL\Week5\Tasks\AgentWeeklyContributionInHrs.csv'

In [8]:
agent_monthly_working_hrs = r'E:\ml-dataset\JUL\Week5\Tasks\AgentMonthlyContributionInHrs.csv'

# Global instance delcarations

In [9]:
ap = pd.read_excel(agent_performance_report, header=1)

C:\Users\subra\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [10]:
ap['Date'] = pd.to_datetime(ap['Date'], format='%Y-%m-%d')
ap.drop(ap[ap['Total Chats'] == 0].index, inplace = True)

In [11]:
ap['week_id'] = ap['Date'].dt.strftime('%U')

In [12]:
pd.to_datetime(ap['Average Response Time'], format='%H:%M:%S').dt.second

0       38
1       15
2       30
3        4
4       11
        ..
2101    15
2102    24
2103    46
2104     5
2105     0
Name: Average Response Time, Length: 745, dtype: int64

In [13]:
ap['avg_resp_time_in_secs'] = pd.to_datetime(ap['Average Response Time'], format='%H:%M:%S').dt.second

In [14]:
ap['avg_resp_time_in_mins'] = pd.to_datetime(ap['Average Response Time'], format='%H:%M:%S').dt.minute*60

In [15]:
ap['avg_resp_time_in_hrs'] = pd.to_datetime(ap['Average Response Time'], format='%H:%M:%S').dt.hour*60*60

In [16]:
ap['total_avg_resp_time_in_secs'] = ap['avg_resp_time_in_secs'] + ap['avg_resp_time_in_mins'] + ap['avg_resp_time_in_hrs']

In [17]:
ap['avg_resl_time_in_secs'] = pd.to_datetime(ap['Average Resolution Time'], format='%H:%M:%S').dt.second

In [18]:
ap['avg_resl_time_in_mins'] = pd.to_datetime(ap['Average Resolution Time'], format='%H:%M:%S').dt.minute*60

In [19]:
ap['avg_resl_time_in_hrs'] = pd.to_datetime(ap['Average Resolution Time'], format='%H:%M:%S').dt.hour*60*60

In [20]:
ap['total_avg_resl_time_in_secs'] = ap['avg_resl_time_in_secs'] + ap['avg_resl_time_in_mins'] + ap['avg_resl_time_in_hrs']

=========================================================================================================================

In [21]:
al = pd.read_excel(agent_login_report, header=2)

In [22]:
al['duration_in_hours'] = pd.to_datetime(al['Duration'], format='%H:%M:%S').dt.hour*60*60

In [23]:
al['duration_in_mins'] = pd.to_datetime(al['Duration'], format='%H:%M:%S').dt.minute*60

In [24]:
al['duration_in_secs'] = pd.to_datetime(al['Duration'], format='%H:%M:%S').dt.second

In [25]:
al['total_duration_in_secs'] = al['duration_in_hours'] + al['duration_in_mins'] + al['duration_in_secs']

In [26]:
al['Date'] = pd.to_datetime(al['Date'], format="%d-%b-%y")

In [27]:
al['week_id'] = al['Date'].dt.strftime('%U')

In [28]:
al

,SL No,Agent,Date,Login Time,Logout Time,Duration,duration_in_hours,duration_in_mins,duration_in_secs,total_duration_in_secs,week_id
0,1,Shivananda Sonwane,2022-07-30,03:35:29 PM,05:39:39 PM,02:04:10,7200,240,10,7450,30
1,2,Khushboo Priya,2022-07-30,03:06:59 PM,03:07:16 PM,00:00:17,0,0,17,17,30
2,3,Nandani Gupta,2022-07-30,03:04:24 PM,05:31:07 PM,02:26:42,7200,1560,42,8802,30
3,4,Hrisikesh Neogi,2022-07-30,02:34:29 PM,03:19:35 PM,00:45:06,0,2700,6,2706,30
4,5,Mukesh,2022-07-30,02:03:15 PM,03:11:52 PM,01:08:36,3600,480,36,4116,30
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Manjunatha A,2022-07-20,09:03:51 AM,03:02:28 PM,05:58:37,18000,3480,37,21517,29
996,997,Bharath,2022-07-20,09:00:49 AM,03:01:32 PM,06:00:43,21600,0,43,21643,29
997,998,Khushboo Priya,2022-07-20,08:59:20 AM,02:26:55 PM,05:27:34,18000,1620,34,19654,29
998,999,Nishtha Jain,2022-07-20,08:43:55 AM,02:00:33 PM,05:16:38,18000,960,38,18998,29
999,1000,Tarun,2022-07-01,01:52:47 AM,12:01:07 PM,12:08:20,43200,480,20,43700,26

# Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [29]:
avg_ratings = ap.groupby(['Agent Name', 'week_id'])['Average Rating'].mean()

In [30]:
avg_ratings

Agent Name     week_id
Aditya Shinde  26         3.540000
               27         4.456667
               28         4.746000
Aditya_iot     27         4.315000
               28         4.100000
                            ...
Wasim          30         4.298000
Zeeshan        27         4.575000
               28         4.128000
               29         4.352500
               30         4.282000
Name: Average Rating, Length: 183, dtype: float64

In [31]:
avg_ratings[avg_ratings != 0].to_csv(user_weekly_avg_rating_report)

Proof:
Agent Jaydeep Dixit's, July 4th to 9th Sum of "Average rating" is 22.89 and Mean of "Average rating" is 22.89/5 = 4.578
Agent Madhulika G's, July 1st to 3rd Sum of "Average rating" is 14.5 and Mean of "Average rating" is 14.5/3 = 4.833
Agent Prerna Singh's, July 25th to 30th Sum of "Average rating" is 21.25 and Mean of "Average rating" is 21.25/5 = 4.25

In [32]:
avg_ratings

Agent Name     week_id
Aditya Shinde  26         3.540000
               27         4.456667
               28         4.746000
Aditya_iot     27         4.315000
               28         4.100000
                            ...
Wasim          30         4.298000
Zeeshan        27         4.575000
               28         4.128000
               29         4.352500
               30         4.282000
Name: Average Rating, Length: 183, dtype: float64

# Total working days for each agents

In [33]:
al.groupby('Agent')['Date'].nunique()

Agent
Aditya Shinde              1
Aditya_iot                 8
Amersh                     2
Ameya Jain                 7
Ankitjha                   2
Anurag Tiwari             10
Aravind                    7
Ayushi Mishra              9
Bharath                    8
Boktiar Ahmed Bappy        9
Chaitra K Hiremath         7
Deepranjan Gupta          10
Dibyanshu                  9
Harikrishnan Shaji         9
Hrisikesh Neogi            9
Hyder Abbas                2
Ineuron Intelligence       1
Ishawant Kumar            11
Jawala Prakash             9
Jaydeep Dixit              7
Khushboo Priya             8
Madhulika G                8
Mahesh Sarade              8
Maitry                     5
Manjunatha A               7
Mithun S                   8
Mukesh                     2
Muskan Garg                6
Nandani Gupta              9
Nishtha Jain               8
Nitin M                    1
Prabir Kumar Satapathy     7
Prateek _iot              11
Prerna Singh               9
Rishav Dash                7
Saikumarreddy N            7
Sanjeev Kumar              9
Saurabh Shukla             4
Shiva Srivastava           8
Shivan K                   8
Shivananda Sonwane        10
Shubham Sharma            11
Sowmiya Sivakumar          8
Sudhanshu Kumar            6
Suraj S Bilgi              2
Swati                      4
Tarun                      1
Wasim                      9
Zeeshan                    9
Name: Date, dtype: int64

# Total query that you hvae taken

Query isn't clear or I missed some details

# Total Feedback that you have received

In [34]:
ap.groupby('Agent Name')['Total Feedback'].sum().sort_values()

Agent Name
Samprit                     0
Hitesh Choudhary            0
Dibyanshu                   0
Sudhanshu Kumar             2
Maneesh                     3
Ankitjha                    3
Anurag Tiwari               3
Shivan_S                    4
Mahak                       5
Mukesh Rao                  5
Tarun                       6
Saurabh Shukla              8
Ashad Nasim                 9
Suraj S Bilgi              15
Mukesh                     17
Sandipan Saha              18
Vivek                      20
Chaitra K Hiremath         37
Muskan Garg                37
Anirudh                    39
Shiva Srivastava           46
Jayant Kumar               70
Prateek _iot              107
Aditya_iot                131
Sowmiya Sivakumar         141
Aditya Shinde             153
Ishawant Kumar            202
Mahesh Sarade             216
Prabir Kumar Satapathy    222
Ameya Jain                228
Harikrishnan Shaji        231
Aravind                   233
Prerna Singh              235
Shivan K                  243
Bharath                   247
Jawala Prakash            250
Manjunatha A              254
Nishtha Jain              257
Shivananda Sonwane        263
Rishav Dash               264
Madhulika G               281
Wasim                     284
Khushboo Priya            289
Saikumarreddy N           290
Shubham Sharma            300
Swati                     302
Jaydeep Dixit             305
Nandani Gupta             308
Sanjeev Kumar             311
Boktiar Ahmed Bappy       311
Deepranjan Gupta          312
Ayushi Mishra             329
Zeeshan                   335
Maitry                    347
Mithun S                  364
Hrisikesh Neogi           367
Name: Total Feedback, dtype: int64

# A agent name who have average rating between 3.5 to 4

In [35]:
unq_agents=ap[(ap['Average Rating'] >= 3.5) & (ap['Average Rating'] <= 4.5)]['Agent Name']

In [36]:
unq_agents.drop_duplicates(inplace=True)

C:\Users\subra\anaconda3\lib\site-packages\pandas\core\series.py:2136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(result)

In [37]:
unq_agents.sort_values().values

array(['Aditya Shinde', 'Aditya_iot ', 'Ameya Jain', 'Anirudh ',
       'Anurag Tiwari', 'Aravind ', 'Ashad Nasim', 'Ayushi Mishra',
       'Bharath ', 'Boktiar Ahmed Bappy', 'Chaitra K Hiremath',
       'Deepranjan Gupta', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Ishawant Kumar', 'Jawala Prakash', 'Jayant Kumar',
       'Jaydeep Dixit', 'Khushboo Priya', 'Madhulika G', 'Mahesh Sarade',
       'Maitry ', 'Maneesh ', 'Manjunatha A', 'Mithun S', 'Muskan Garg',
       'Nandani Gupta', 'Nishtha Jain', 'Prabir Kumar Satapathy',
       'Prateek _iot ', 'Prerna Singh', 'Rishav Dash', 'Saikumarreddy N',
       'Sandipan Saha', 'Sanjeev Kumar', 'Saurabh Shukla',
       'Shiva Srivastava', 'Shivan K', 'Shivan_S ', 'Shivananda Sonwane',
       'Shubham Sharma', 'Sowmiya Sivakumar', 'Suraj S Bilgi', 'Swati ',
       'Wasim ', 'Zeeshan '], dtype=object)

# Agent name who have rating lesss then 3.5

In [38]:
unq_agents_2 = ap[ap['Average Rating'] < 3.5]['Agent Name']
unq_agents_2.drop_duplicates(inplace=True)

In [39]:
unq_agents_2.sort_values().values

array(['Aditya_iot ', 'Anirudh ', 'Ankitjha ', 'Anurag Tiwari',
       'Ashad Nasim', 'Ayushi Mishra', 'Boktiar Ahmed Bappy',
       'Chaitra K Hiremath', 'Deepranjan Gupta', 'Dibyanshu ',
       'Harikrishnan Shaji', 'Hitesh Choudhary', 'Ishawant Kumar',
       'Jawala Prakash', 'Jayant Kumar', 'Khushboo Priya', 'Mahak ',
       'Mahesh Sarade', 'Maneesh ', 'Manjunatha A', 'Mithun S',
       'Mukesh Rao ', 'Nandani Gupta', 'Nishtha Jain', 'Prateek _iot ',
       'Prerna Singh', 'Rishav Dash', 'Samprit ', 'Sanjeev Kumar',
       'Saurabh Shukla', 'Shiva Srivastava', 'Shivan K',
       'Shivananda Sonwane', 'Sowmiya Sivakumar', 'Tarun ', 'Vivek '],
      dtype=object)

# agent name who have rating more then 4.5

In [40]:
unq_agents_3 = ap[ap['Average Rating'] > 4.5]['Agent Name']
unq_agents_3.drop_duplicates(inplace=True)

In [41]:
unq_agents_3.sort_values().values

array(['Aditya Shinde', 'Aditya_iot ', 'Ameya Jain', 'Anirudh ',
       'Ankitjha ', 'Aravind ', 'Ayushi Mishra', 'Bharath ',
       'Boktiar Ahmed Bappy', 'Chaitra K Hiremath', 'Deepranjan Gupta',
       'Harikrishnan Shaji', 'Hrisikesh Neogi', 'Ishawant Kumar',
       'Jawala Prakash', 'Jayant Kumar', 'Jaydeep Dixit',
       'Khushboo Priya', 'Madhulika G', 'Mahesh Sarade', 'Maitry ',
       'Manjunatha A', 'Mithun S', 'Mukesh ', 'Mukesh Rao ',
       'Muskan Garg', 'Nandani Gupta', 'Nishtha Jain',
       'Prabir Kumar Satapathy', 'Prateek _iot ', 'Prerna Singh',
       'Rishav Dash', 'Saikumarreddy N', 'Sandipan Saha', 'Sanjeev Kumar',
       'Saurabh Shukla', 'Shiva Srivastava', 'Shivan K',
       'Shivananda Sonwane', 'Shubham Sharma', 'Sowmiya Sivakumar',
       'Sudhanshu Kumar', 'Suraj S Bilgi', 'Swati ', 'Vivek ', 'Wasim ',
       'Zeeshan '], dtype=object)

# how many feedaback agents have received more then 4.5 average

In [42]:
awesome_performer = ap.groupby(['Agent Name'])['Average Rating'].mean()

In [43]:
awesome_performer[awesome_performer >= 4.5].sort_values(ascending=False)

Agent Name
Sudhanshu Kumar       5.000000
Bharath               4.711053
Suraj S Bilgi         4.680000
Aravind               4.674286
Mukesh                4.645000
Shubham Sharma        4.607619
Saikumarreddy N       4.570000
Shivananda Sonwane    4.535000
Jaydeep Dixit         4.524286
Aditya Shinde         4.500833
Wasim                 4.500000
Name: Average Rating, dtype: float64

# average weekly response time for each agent

In [44]:
weekly_avg_time = ap.groupby(['Agent Name', 'week_id'])['total_avg_resp_time_in_secs'].mean()

In [45]:
weekly_avg_time

Agent Name     week_id
Aditya Shinde  26          86.00
               27          68.50
               28          79.00
Aditya_iot     27          70.50
               28          72.80
                           ...
Wasim          30          60.60
Zeeshan        27          82.50
               28         172.80
               29          89.75
               30          92.80
Name: total_avg_resp_time_in_secs, Length: 183, dtype: float64

In [46]:
weekly_avg_time.to_csv(user_weekly_avg_response_report)

# average weekely resolution time for each agents

In [47]:
weekly_avg_resl_time = ap.groupby(['Agent Name', 'week_id'])['total_avg_resl_time_in_secs'].mean()/60

In [48]:
weekly_avg_resl_time

Agent Name     week_id
Aditya Shinde  26         19.866667
               27         21.988889
               28         31.703333
Aditya_iot     27         18.075000
               28         21.256667
                            ...
Wasim          30         21.096667
Zeeshan        27         18.841667
               28         22.966667
               29         18.150000
               30         19.483333
Name: total_avg_resl_time_in_secs, Length: 183, dtype: float64

In [49]:
weekly_avg_resl_time.to_csv(user_weekly_avg_resolution_report)

# list of all agents name

In [50]:
al['Agent'].unique()

array(['Shivananda Sonwane', 'Khushboo Priya', 'Nandani Gupta',
       'Hrisikesh Neogi', 'Mukesh ', 'Sowmiya Sivakumar', 'Manjunatha A',
       'Harikrishnan Shaji', 'Suraj S Bilgi', 'Shivan K', 'Anurag Tiwari',
       'Ishawant Kumar', 'Shubham Sharma', 'Prerna Singh', 'Nishtha Jain',
       'Prateek _iot ', 'Mithun S', 'Madhulika G', 'Boktiar Ahmed Bappy',
       'Jawala Prakash', 'Dibyanshu ', 'Deepranjan Gupta',
       'Jaydeep Dixit', 'Ayushi Mishra', 'Mahesh Sarade', 'Muskan Garg',
       'Chaitra K Hiremath', 'Shiva Srivastava', 'Aditya_iot ',
       'Prabir Kumar Satapathy', 'Sanjeev Kumar', 'Zeeshan ',
       'Rishav Dash', 'Wasim ', 'Bharath ', 'Ameya Jain',
       'Saikumarreddy N', 'Aravind ', 'Amersh ', 'Sudhanshu Kumar',
       'Ankitjha ', 'Maitry ', 'Aditya Shinde', 'Hyder Abbas', 'Swati ',
       'Saurabh Shukla', 'Nitin M', 'Ineuron Intelligence ', 'Tarun '],
      dtype=object)

# percentage of chat on which they have received a feedback

In [51]:
ap['chats_as_feedback_in_perc'] = ap['Total Feedback']/ap['Total Chats'] * 100

In [52]:
ap[['Agent Name', 'Date', 'Total Feedback', 'Total Chats', 'chats_as_feedback_in_perc']]

,Agent Name,Date,Total Feedback,Total Chats,chats_as_feedback_in_perc
0,Prerna Singh,2022-07-30,9,11,81.818182
1,Nandani Gupta,2022-07-30,7,11,63.636364
2,Ameya Jain,2022-07-30,11,14,78.571429
3,Mahesh Sarade,2022-07-30,7,14,50.000000
4,Swati,2022-07-30,6,14,42.857143
...,...,...,...,...,...
2101,Jaydeep Dixit,2022-07-01,13,25,52.000000
2102,Shivananda Sonwane,2022-07-01,14,23,60.869565
2103,Khushboo Priya,2022-07-01,18,24,75.000000
2104,Hrisikesh Neogi,2022-07-01,9,15,60.000000
2105,Tarun,2022-07-01,6,22,27.272727

# Total contributation hour for each and every agents weekly basis

In [53]:
weekly_working_hrs = al.groupby(['Agent', 'week_id'])['total_duration_in_secs'].sum()/al.groupby(['Agent', 'week_id'])['Date'].nunique()

In [54]:
weekly_working_hrs = weekly_working_hrs/3600

In [55]:
weekly_working_hrs.sort_values().to_csv(agent_weekly_contribution_in_hrs)

# total percentage of active hour for a month

In [56]:
monthly_working_hrs = al.groupby(['Agent'])['total_duration_in_secs'].sum()/(60*60)

In [57]:
monthly_working_hrs.sort_values().to_csv(agent_monthly_working_hrs)