# Imports

In [1]:
import pandas as pd

# Global declarations

In [2]:
Filename = r'FitBitData.csv'

In [3]:
TOTAL_CALORIES_TO_BE_BURNT = 55600

In [4]:
df = pd.read_csv(Filename)

# 4. Find out in this data that how many unique id's we have

In [5]:
df.Id.unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

# 5. which id is one of the active id that you have in whole dataset

In [6]:
active_id = df.groupby('Id')['ActivityDate'].nunique().sort_values(ascending=False)

In [7]:
active_id.iloc[0:1]

Id
4057192912    32
Name: ActivityDate, dtype: int64

# 6. how many of them have not logged there activity find out in terms of number of ids

In [8]:
df[df['TotalSteps'] == 0].Id.unique()

array([1844505072, 2320127002, 2347167796, 2873212765, 2891001357,
       4057192912, 4319703577, 4388161847, 4702921684, 6117666160,
       6290855005, 6391747486, 6775888955, 8253242879], dtype=int64)

# 7. Find out who is the laziest person id that we have in dataset

In [9]:
lazy_persons = df[df['TotalSteps'] > 0].groupby(['Id'])['TotalSteps'].mean().sort_values()

In [10]:
lazy_persons.iloc[0:1]

Id
1927972279    2180.833333
Name: TotalSteps, dtype: float64

# 8. Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

Lets assume above 1800 per day i.e., 55800 per month

In [11]:
total_calories_burnt = df.groupby(['Id'])['Calories'].sum()

In [12]:
total_calories_burnt[total_calories_burnt > TOTAL_CALORIES_TO_BE_BURNT]

Id
4020332650    98412
4057192912    60913
Name: Calories, dtype: int64

# 9. how many person are not a regular person with respect to activity try to find out those

# 10. who is the third most active person in this dataset find out those in pandas and in sql both .

In [13]:
active_persons = df.groupby('Id')['ActivityDate'].count().sort_values()

In [14]:
active_rank = active_persons.rank(method='dense',ascending=False)

In [15]:
active_rank[active_rank == 3]

Id
4445114986    3.0
2347167796    3.0
4702921684    3.0
Name: ActivityDate, dtype: float64

SQL:
with cte as (
select Id, count(ActivityDate) ActivityDateCount, 
dense_rank() over(order by Count(ActivityDate) desc) RankByActitvity 
from fitbitdata 
group by Id)
select * from cte where RankByActitvity = 3;

Output:

# Id		ActivityDateCount	RankByActitvity
2347167796	15					3
4445114986	15					3
4702921684	15					3

# 11. who is the 5th `most laziest person` available in dataset find it out

In [16]:
lazy_persons.iloc[4:5]

Id
4057192912    3178.473684
Name: TotalSteps, dtype: float64

# 12. what is a total accumulative calories burn for a person find out

In [17]:
df.groupby('Id')['Calories'].sum().sort_values()

Id
4388161847    14442
6391747486    15868
2026352035    16266
3977333714    16777
8253242879    17556
2891001357    18187
2320127002    18385
3372868164    18603
8583815059    19130
1844505072    19391
2873212765    20349
6117666160    20993
5553957443    21630
6290855005    21656
4558609924    21962
4319703577    23931
6775888955    24523
8792009665    24884
1624580081    25705
7086361926    26124
1927972279    27048
1644430081    29164
6962181067    29249
2022484408    29704
2347167796    30320
7007744171    31525
4445114986    31617
8053475328    31825
1503960366    34128
5577150313    36303
8378563200    40274
8877689391    41414
4702921684    42322
4057192912    60913
4020332650    98412
Name: Calories, dtype: int64