# Imports

In [1]:
import pandas as pd

# Declarations

In [2]:
Filename = r'Superstore_USA.xlsx'

In [3]:
sheet_orders = 'Orders'

In [4]:
sheet_returns = 'Returns'

In [5]:
sheet_users = 'Users'

In [6]:
wb = pd.ExcelFile(Filename)

In [7]:
df_orders_details = pd.read_excel(wb, sheet_name=sheet_orders)

In [8]:
df_orders_summary = df_orders_details.groupby('Order ID').sum(['Discount', 'Shipping Cost', 'Profit', 'Quantity ordered new', 'Sales']).rename(columns={'Discount':'Total Discount', 'Shipping Cost': 'Total Shipping Cost', 'Profit': 'Total Profit', 'Quantity ordered new': 'Total Qty Ordered', 'Sales': 'Total Sales'})

In [9]:
df_returns = pd.read_excel(wb, sheet_name=sheet_returns)

In [10]:
df_users = pd.read_excel(wb, sheet_name=sheet_users)

# 3. Find out how return that we have received and with a product id

In [11]:
df_return_products = df_returns.merge(df_orders_details, how='inner')

In [12]:
df_return_products['Product Name'].unique()

array(['Xerox 1928', '6190',
       '80 Minute Slim Jewel Case CD-R , 10/Pack - Staples',
       '#10 White Business Envelopes,4 1/8 x 9 1/2',
       'Hon 2090 “Pillow Soft” Series Mid Back Swivel/Tilt Chairs',
       'Eureka Recycled Copy Paper 8 1/2" x 11", Ream',
       'Eldon Advantage® Foldable Chair Mats for Low Pile Carpets',
       'Snap-A-Way® Black Print Carbonless Ruled Speed Letter, Triplicate',
       'Recycled Steel Personal File for Standard File Folders',
       'GBC DocuBind TL300 Electric Binding System',
       'Brown Kraft Recycled Envelopes', 'Newell 343',
       'Imation 3.5 IBM Formatted Diskettes, 10/Box',
       'Dixon My First Ticonderoga Pencil, #2',
       'Tenex Personal Self-Stacking Standard File Box, Black/Gray',
       'CF 688', 'Nu-Dell Executive Frame',
       'Okidata ML184 Turbo Dot Matrix Printers',
       'GBC DocuBind 200 Manual Binding Machine',
       'Vinyl Sectional Post Binders', 'Wirebound Voice Message Log Book',
       'TDK 4.7GB DVD+RW', 'Avery 493', 'EcoTones® Memo Sheets',
       'Tenex Carpeted, Granite-Look or Clear Contemporary Contour Shape Chair Mats',
       'Boston Electric Pencil Sharpener, Model 1818, Charcoal Black',
       'Staples #10 Colored Envelopes',
       'Avery® Durable Plastic 1" Binders',
       'Imation IBM Formatted Diskettes, 100/Pack',
       'Adams Phone Message Book, 200 Message Capacity, 8 1/16” x 11”',
       'Fellowes Neat Ideas® Storage Cubes',
       'Office Star Flex Back Scooter Chair with White Frame',
       'Accessory39', 'Bush Mission Pointe Library', 'T60',
       'Staples 6 Outlet Surge',
       'Micro Innovations Micro 3000 Keyboard, Black',
       'Belkin ErgoBoard™ Keyboard', 'Bagged Rubber Bands',
       'Pressboard Data Binder, Crimson, 12" X 8 1/2"',
       'Hon Every-Day® Chair Series Swivel Task Chairs',
       'Sharp EL500L Fraction Calculator', 'Avery Hanging File Binders',
       'Avery 484', 'Eldon Simplefile® Box Office®', 'Avery 503',
       'Newell 35', 'Master Giant Foot® Doorstop, Safety Yellow',
       'Tyvek ® Top-Opening Peel & Seel ® Envelopes, Gray',
       'SAFCO Optional Arm Kit for Workspace® Cribbage Stacking Chair',
       'Xerox 1896',
       'Acco Clips to Go™ Binder Clips, 24 Clips in Two Sizes',
       'Chromcraft Bull-Nose Wood 48" x 96" Rectangular Conference Tables',
       'Accessory34', 'Economy Rollaway Files',
       'Model L Table or Wall-Mount Pencil Sharpener',
       'Staples SlimLine Pencil Sharpener',
       'Hon Non-Folding Utility Tables',
       'GBC Laser Imprintable Binding System Covers, Desert Sand',
       'Polycom VoiceStation 100', 'Newell 312',
       'Bretford CR8500 Series Meeting Room Furniture',
       'GBC ProClick™ 150 Presentation Binding System',
       'Eldon® Expressions™ Wood and Plastic Desk Accessories, Oak',
       '6160', '600 Series Flip', 'Xerox 1980',
       '12 Colored Short Pencils',
       'Zoom V.92 V.44 PCI Internal Controllerless FaxModem',
       'Xerox 1932', '232', 'SAFCO Folding Chair Trolley', 'Xerox 1983',
       'Xerox 1923', 'Mead 1st Gear 2" Zipper Binder, Asst. Colors',
       'Executive Impressions 12" Wall Clock', 'Prang Colored Pencils',
       'Xerox 210', 'Ibico Hi-Tech Manual Binding System',
       'Boston 1799 Powerhouse™ Electric Pencil Sharpener',
       'GBC DocuBind P100 Manual Binding Machine',
       'DAX Metal Frame, Desktop, Stepped-Edge',
       'Office Star - Contemporary Task Swivel chair with 2-way adjustable arms, Plum',
       'Acme® Elite Stainless Steel Scissors',
       'Wilson Jones Hanging View Binder, White, 1"',
       'Imation 3.5", DISKETTE 44766 HGHLD3.52HD/FM, 10/Pack',
       'Staples Standard Envelopes', 'Crayola Anti Dust Chalk, 12/Pack',
       'Chromcraft Rectangular Conference Tables',
       'Bell Sonecor JB700 Caller ID',
       'Chromcraft Bull-Nose Wood Round Conference Table Top, Wood Base',
       'Personal Creations™ Ink Jet Cards and Labels',
       'Kleencut® Forged Office Shears by Acme United Corporation',
       'Xerox 197'], dtype=object)

# 4. try  to join order and return data both in sql and pandas

In Pandas

In [13]:
df_returns.merge(df_orders_details, how='inner', left_on='Order ID', right_on='Order ID')

,Order ID,Status,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,...,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales
0,612,Returned,95,Medium,0.10,5.28,6.26,3011,Tammy Raynor,Regular Air,...,0.40,East,Massachusetts,Boston,2113,2013-10-20,2013-10-22,-166.290000,105,552.03
1,612,Returned,96,Medium,0.01,65.99,2.50,3011,Tammy Raynor,Regular Air,...,0.55,East,Massachusetts,Boston,2113,2013-10-20,2013-10-22,881.676000,90,5297.63
2,4610,Returned,653,Low,0.09,8.33,1.99,2548,Wayne Bass,Regular Air,...,0.52,West,California,Los Angeles,90068,2011-06-17,2011-06-19,-17.010000,12,100.32
3,4610,Returned,654,Low,0.08,15.67,1.39,2548,Wayne Bass,Regular Air,...,0.38,West,California,Los Angeles,90068,2011-06-17,2011-06-21,203.010000,44,678.72
4,7079,Returned,979,Medium,0.01,280.98,57.00,478,Michael Wiggins,Delivery Truck,...,0.78,East,New York,New York City,10177,2011-02-08,2011-02-09,-416.700000,44,12296.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,57638,Returned,8079,Low,0.09,217.85,29.10,699,Jenny Gold,Delivery Truck,...,0.68,West,California,Los Angeles,90041,2013-04-22,2013-04-27,-526.478095,35,5740.62
94,57638,Returned,8080,Low,0.07,11.48,5.43,699,Jenny Gold,Regular Air,...,0.36,West,California,Los Angeles,90041,2013-04-22,2013-04-24,78.890000,49,570.43
95,57638,Returned,8081,Low,0.08,2.08,2.56,699,Jenny Gold,Regular Air,...,0.55,West,California,Los Angeles,90041,2013-04-22,2013-04-24,-85.580000,49,100.08
96,59009,Returned,8251,Critical,0.02,30.98,17.08,2882,Andrew Gonzalez,Express Air,...,0.40,South,North Carolina,Charlotte,28206,2012-11-18,2012-11-20,-9.336600,65,2103.64
97,59937,Returned,8389,High,0.02,30.98,17.08,1733,Nina Horne Kelly,Regular Air,...,0.40,East,District of Columbia,Washington,20012,2010-12-28,2010-12-29,-32.280000,13,438.25

In SQL

select * from 
machine_learning.superstoreusa_orders_details as a 
join machine_learning.superstoreusa_returns as b
on a.`Order ID` = b.`Order ID`;

# 5. Try to find out how many unique customer that we have

In [14]:
df_order_customers = df_orders_details.groupby(['Customer ID','Customer Name']).count()

In [15]:
len(df_orders_details['Customer ID'].unique())

2703

In [16]:
df_order_customers.iloc[0:,0:1]

                             Row ID
Customer ID Customer Name
2           Janice Fletcher       1
3           Bonnie Potter         6
5           Ronnie Proctor        2
6           Dwight Hwang          4
7           Leon Gill             1
...                             ...
3398        Marc McDaniel         3
3399        Marvin Reid           4
3400        Florence Gold         7
3402        Frederick Cole        4
3403        Tammy Buckley         2

[2703 rows x 1 columns]

# 6. try to find out in how many regions we are selling a product and who is a manager for a respective region

In [17]:
df_order_products = df_orders_details.groupby(['Customer ID','Customer Name']).count()

# 7. find out how many differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset

In [18]:
df_shippement_mode = df_orders_details.groupby(['Ship Mode'])['Ship Mode'].count()/len(df_orders_details.index)*100

In [19]:
df_shippement_mode.sort_values(ascending=False)

Ship Mode
Regular Air       74.644600
Delivery Truck    13.611288
Express Air       11.744112
Name: Ship Mode, dtype: float64

# 8. Create a new coulmn and try to find our a diffrence between order date and shipment date

In [20]:
df_orders_details['diff_bw_ship_order_date'] = df_orders_details['Ship Date'] - df_orders_details['Order Date']

# 9. base on question number 8 find out for which order id we have shipment duration more than 10 days

In [21]:
df_orders_details[df_orders_details['diff_bw_ship_order_date'] > pd.to_timedelta("10days")]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,diff_bw_ship_order_date
643,18246,Critical,0.05,11.09,5.25,250,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,Minnesota,Richfield,55423,2011-12-29,2012-03-22,58.5000,19,204.67,87215,84 days
1548,23091,Medium,0.04,100.98,7.18,595,Dana Desai,Regular Air,Small Business,Technology,...,Indiana,Bloomington,47401,2011-12-30,2012-01-10,375.7050,6,587.46,86318,11 days
1549,23092,Medium,0.09,6.48,7.49,595,Dana Desai,Express Air,Small Business,Office Supplies,...,Indiana,Bloomington,47401,2011-12-30,2012-01-14,-47.3950,12,79.37,86318,15 days
1678,20703,Not Specified,0.07,130.98,30.00,637,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,California,Santa Clara,95051,2011-12-30,2012-01-16,-211.8850,21,2699.94,87957,17 days
1679,20704,Not Specified,0.09,55.98,4.86,637,Christopher Bryant,Regular Air,Consumer,Office Supplies,...,California,Santa Clara,95051,2011-12-30,2012-01-10,355.0119,10,514.51,87957,11 days
1680,20705,Not Specified,0.08,115.99,4.23,637,Christopher Bryant,Regular Air,Consumer,Technology,...,California,Santa Clara,95051,2011-12-30,2012-01-27,1021.4001,16,1480.29,87957,28 days
1697,2703,Not Specified,0.07,130.98,30.00,640,Neal Wolfe,Delivery Truck,Consumer,Furniture,...,Washington,Seattle,98119,2011-12-30,2012-01-16,-423.7700,83,10671.20,19556,17 days
1698,2704,Not Specified,0.09,55.98,4.86,640,Neal Wolfe,Regular Air,Consumer,Office Supplies,...,Washington,Seattle,98119,2011-12-30,2012-01-10,469.6900,41,2109.51,19556,11 days
1699,2705,Not Specified,0.08,115.99,4.23,640,Neal Wolfe,Regular Air,Consumer,Technology,...,Washington,Seattle,98119,2011-12-30,2012-01-27,727.3620,65,6013.69,19556,28 days
2515,18060,Low,0.02,2.21,1.00,964,Virginia Rivera,Regular Air,Home Office,Office Supplies,...,California,Redwood City,94061,2011-12-30,2012-03-31,5.8200,10,22.35,86177,92 days
5548,21603,Not Specified,0.02,5.58,1.99,2048,Ricky Dougherty,Regular Air,Consumer,Office Supplies,...,South Dakota,Brookings,57006,2011-12-30,2012-01-13,66.2250,21,121.51,88223,14 days
5673,19005,Low,0.06,65.99,2.50,2088,Carrie Boyle,Regular Air,Corporate,Technology,...,New York,Mount Vernon,10550,2011-12-28,2012-01-14,187.4880,8,451.34,88352,17 days
5859,24392,Low,0.05,29.89,1.99,2143,Lester Sawyer,Regular Air,Home Office,Technology,...,Virginia,Fairfax,20151,2011-12-26,2012-01-17,4230.2001,12,344.16,87572,22 days
5881,21257,Low,0.05,7.99,5.03,2153,Anna Glenn,Regular Air,Home Office,Technology,...,California,Pasadena,91104,2011-12-26,2012-01-19,-23.4520,2,15.56,91294,24 days
8607,26351,Medium,0.00,8.32,2.38,3119,Jay Hubbard,Express Air,Corporate,Technology,...,Florida,Orlando,32839,2011-12-29,2012-01-16,-1075.3960,19,170.62,86434,18 days
8609,26350,Medium,0.07,180.98,55.24,3119,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-15,-147.5180,25,4529.95,86436,17 days
8610,26352,Medium,0.06,4.20,2.26,3119,Jay Hubbard,Regular Air,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-17,-689.8738,2,9.64,86436,19 days
8973,20750,Low,0.06,125.99,8.08,3248,Earl Donnelly,Express Air,Corporate,Technology,...,Louisiana,Slidell,70458,2011-12-26,2012-01-14,2.4780,20,2180.31,87300,19 days
8982,2748,Low,0.03,11.97,5.81,3251,Peter Brooks,Regular Air,Corporate,Office Supplies,...,New York,New York City,10112,2011-12-26,2012-01-22,-31.7400,31,388.52,19841,27 days
8983,2749,Low,0.08,195.99,4.20,3251,Peter Brooks,Regular Air,Corporate,Technology,...,New York,New York City,10112,2011-12-26,2012-01-26,-557.9530,13,2092.05,19841,31 days
8993,2750,Low,0.06,125.99,8.08,3251,Peter Brooks,Express Air,Corporate,Technology,...,New York,New York City,10112,2013-12-26,2014-01-14,1304.5590,86,9375.35,19841,19 days
8996,20748,Low,0.03,11.97,5.81,3252,Milton Harrell,Regular Air,Corporate,Office Supplies,...,New York,Rotterdam,12306,2011-12-26,2012-01-22,-15.8700,8,100.26,87300,27 days
8997,20749,Low,0.08,195.99,4.20,3252,Milton Harrell,Regular Air,Corporate,Technology,...,New York,Rotterdam,12306,2011-12-26,2012-01-26,-278.9765,3,482.78,87300,31 days

# 10. Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well

In [22]:
df_return_orders = df_orders_details.merge(df_returns, how="inner", left_on="Order ID", right_on="Order ID")

In [23]:
df_return_orders['diff_bw_ship_order_date'].max()

Timedelta('9 days 00:00:00')

In [24]:
df_return_orders[df_return_orders['diff_bw_ship_order_date'] > pd.to_timedelta("15days")]

Empty DataFrame
Columns: [Row ID, Order Priority, Discount, Unit Price, Shipping Cost, Customer ID, Customer Name, Ship Mode, Customer Segment, Product Category, Product Sub-Category, Product Container, Product Name, Product Base Margin, Region, State or Province, City, Postal Code, Order Date, Ship Date, Profit, Quantity ordered new, Sales, Order ID, diff_bw_ship_order_date, Status]
Index: []

[0 rows x 26 columns]

# 11. Group by region and find out which region is more profitable

In [25]:
df_orders_details.groupby(['Region'])['Profit'].sum().sort_values(ascending=False).iloc[0:1]

Region
Central    519825.567067
Name: Profit, dtype: float64

# 12. Try to find out overall in which country we are giving more discount

In [26]:
df_orders_details.groupby(['State or Province'])['Discount'].sum().sort_values(ascending=False)

State or Province
California              52.28
Texas                   31.36
Illinois                29.71
New York                28.86
Florida                 26.38
Ohio                    19.71
Washington              15.48
Michigan                15.29
Pennsylvania            13.32
Minnesota               12.52
Indiana                 12.22
North Carolina          12.02
Massachusetts           11.22
Virginia                 9.80
Georgia                  9.79
Maryland                 8.85
New Jersey               8.73
Tennessee                8.55
Oregon                   8.42
Missouri                 8.09
Wisconsin                8.06
Colorado                 8.05
Utah                     7.67
Iowa                     7.15
Kansas                   6.89
Arizona                  6.86
Maine                    6.66
Alabama                  5.87
Arkansas                 5.80
Idaho                    5.57
South Carolina           5.34
Oklahoma                 5.17
Louisiana                4.86
Connecticut              4.28
Kentucky                 4.23
New Mexico               4.08
Mississippi              3.89
Nebraska                 3.59
Vermont                  3.19
District of Columbia     3.10
New Hampshire            2.62
Montana                  2.39
West Virginia            2.16
Nevada                   1.80
North Dakota             1.71
South Dakota             1.30
Wyoming                  1.15
Rhode Island             1.09
Delaware                 0.66
Name: Discount, dtype: float64

# 13. Give me a list of unique postal code

In [27]:
df_orders_details['Postal Code'].unique()

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

# 14. which customer segement is more profitalble find it out .

In [28]:
df_orders_details.groupby('Customer Segment')['Profit'].sum().sort_values(ascending=False)[0:1]

Customer Segment
Corporate    505538.627783
Name: Profit, dtype: float64

# 15. try to find out the 10th most loss making product catagory .

In [29]:
#Question is not clear enough

# 16. Try to find out 10 top  product with highest margins

In [30]:
df_orders_details.groupby('Product Name')['Profit'].sum().sort_values(ascending=False)[0:10]

Product Name
Global Troy™ Executive Leather Low-Back Tilter                                 79509.392200
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    35909.525185
GBC DocuBind 200 Manual Binding Machine                                        33892.328503
Hewlett-Packard cp1700 [D, PS] Series Color Inkjet Printers                    33721.100200
Hewlett Packard LaserJet 3310 Copier                                           33712.303300
Canon PC940 Copier                                                             28307.563490
GBC DocuBind TL300 Electric Binding System                                     25033.896400
Hewlett-Packard Deskjet 1220Cse Color Inkjet Printer                           24782.747900
Ibico Hi-Tech Manual Binding System                                            23080.569840
Sanyo 2.5 Cubic Foot Mid-Size Office Refrigerators                             23076.410700
Name: Profit, dtype: float64